@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/* Disposition global*/
.font {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d3204;
}

.cont {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.94);    
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    margin: auto;
    text-align: center;

}

.playerPos {
    padding: 10rem;
    transition: all 0.75s;
    
}

/* Disposition par elements*/

.player {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 4rem;
    
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.activePlayer {
    background-color: rgba(255, 255, 255, 0.4);
}

.activePlayer .player {
    font-weight: 700;
}

.activePlayer .score {
    font-weight: 400;
}

.current {
    background-color: #cb0544;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.currentLabel {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd
}

.currentScore {
    font-size: 3.5rem;
}

/* A potentielement modifié pour responsive*/

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}


.btnNew {
    top: 4rem;
}

.btnRoll {
    top: 39.0rem;
}

.btnHold {
    top: 46.0rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.playerWinner {
    background-color: #2f2f2f;
}

.playerWinner .player {
    font-weight: 700;
    color: #c7365f;
}

.hidden {
    display: none;
}